flask==3.0.3
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
scikit-learn==1.4.2
scikeras==0.12.0
yfinance==0.2.48
scikit-optimize==0.9.0
scipy==1.13.1
tensorflow==2.17.0
joblib==1.4.2
requests==2.32.2
